.wrapper {
    margin: 20px 60px;
}

.header {
    font-size: 18px;
    margin-bottom: 30px;
}

.subheading {
    font-size: 12px;
}

@media (min-width: 768px) {
    .wrapper {
        margin: 30px 80px;
    }

    .header {
        font-size: 20px;
        margin-bottom: 35px;
    }

    .subheading {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        margin: 40px 120px;
    }

    .header {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .subheading {
        font-size: 15px;
    }
}