<div class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl">
    
        <form [formGroup]="signupEventForm" (ngSubmit)="onSubmit(signupEventForm.value)">
            <div class="mb-6">
                <label class="block mb-1">Email</label>
                <input type="email" id="email" formControlName="email" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-500">
                @if(signupEventForm.get('email')?.invalid && signupEventForm.get('email')?.dirty){
                    <div class="text-red-500 text-sm mt-1">
                        @if(signupEventForm.get('email')?.hasError('required')){
                            <div>Email is required</div>
                        }

                        @if(signupEventForm.get('email')?.hasError('email')){
                            <div>Invalid format</div>
                        }
                    </div>
                }
            </div>
              
            <div class="mb-6">
                <label class="block mb-1">Organization Name</label>
                <input type="text" id="username" formControlName="username" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-500">
                @if(signupEventForm.get('username')?.invalid && signupEventForm.get('username')?.dirty){
                    <div class="text-red-500 text-sm mt-1">
                        @if(signupEventForm.get('username')?.hasError('required')){
                            <div>Organization is required</div>
                        }
                    </div>
                }
            </div>
            <div class="mb-8">
                <label class="block mb-1">Contact Number</label>
                <input type="string" id="contact" formControlName="contact" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-500">
                @if(signupEventForm.get('contact')?.invalid && signupEventForm.get('contact')?.dirty){
                    <div class="text-red-500 text-sm mt-1">
                        @if(signupEventForm.get('contact')?.hasError('required')){
                            <div>Contact is required</div>
                        }

                        @if(signupEventForm.get('contact')?.hasError('invalidContact')){
                            <div>Invalid format, it must start with '6', '8' or '9' and must only contain 8 numbers</div>
                        }
                    </div>
                }
            </div>
            <div class="flex justify-center">
                <button type="button" class="bg-gray-300 hover:bg-gray-400 text-white font-semibold px-4 py-2 rounded-md mr-2" (click)="onCancel()">
                    Cancel
                </button>
                <button type="submit" [disabled]="!signupEventForm.valid" 
                    class="bg-blue-800 hover:bg-blue-500 text-white font-semibold px-4 py-2 rounded-md 
                    {{ !signupEventForm.valid ? 'bg-gray-400 cursor-not-allowed' : '' }}">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</div>