<nav class="bg-blue-800 py-4 px-6 h-16 sm:h-20">
  <div class="mx-auto flex justify-between items-center h-full">
    <div class="text-white font-bold logo">
      <div (click)="navigateToHome()">Event Marketplace</div>
    </div>

    <div class="flex items-center">
      <a class="text-white hover:cursor-pointer mr-6" (click)="navigateToLogin()">Organizer Login</a>
      <a class="text-white hover:cursor-pointer mr-6" (click)="navigateToSignup()">Organizer Signup</a>
    </div>
  </div>
</nav>
