<div>
    <app-navbar></app-navbar>

    <div class="flex flex-col items-center mt-40">
        <div class="rounded-full overflow-hidden flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-28 h-28 sm:w-36 sm:h-36 text-blue-400" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </div>
        <div class="w-3/4 sm:w-1/2 h-80 bg-white shadow-xl p-6 rounded-lg flex justify-center items-center space-x-4">
            <div class="flex flex-col items-start">
                <div class="text-left mb-2 text-lg">
                    <span class="font-bold">Name:</span> {{ user?.displayName }}
                </div>
                <div class="text-left mb-2 text-lg">
                    <span class="font-bold">Email:</span> {{ user?.email }}
                </div>
                <div class="text-left mb-2 text-lg">
                    <span class="font-bold">Contact:</span> {{ profile?.contact }}
                </div>
                <div class="text-left text-lg">
                    <span class="font-bold">Website:</span> {{ profile?.website }}
                </div>
            </div>
        </div>
    </div>  
</div>